<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
    body, html {
        background-image: url(/pencil.jpg);
        height: 100%;
        background-position: center;
        background-size: cover;
        height: 100%;
        margin: 0;
    }
    .header {
        font-size: 120px;
        color: white;
        font-family: "Merriweather", sans-serif;
        text-align: center;
        background-color: black ;
        opacity: 0.9;
    }
</style>
<body>
<h1 class="header">Please Log-In To View This Page</h1>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>  Login</h1>
      <form  method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
      <p class="lead mt-4">
        No Account? <a href="/student-register">Register</a>
      </p>
    </div>
  </div>
</div> 
</body>
